---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cdi-operator.fullname" . }}
  namespace: {{ .Release.Namespace }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}   
  labels:
    {{- include "cdi-operator.labels" . | nindent 4 }}
    {{- with .Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}     
spec:
  replicas: {{ default .Values.replicaCount "1" }}
  revisionHistoryLimit: {{ default .Values.revisionHistoryLimit "1" }}
  selector:
    matchLabels:
      {{- include "cdi-operator.selectorLabels" . | nindent 6 }}      
  strategy:
    type: RollingUpdate  
  template:
    metadata:
      name: {{ include "cdi-operator.fullname" . }}
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "cdi-operator.labels" . | nindent 8 }}  
        {{- with .Values.podLabels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}  
    spec:
      serviceAccountName: {{ include "cdi-operator.serviceAccountName" . }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}    
      containers:
      - name: cdi-operator
        image: quay.io/kubevirt/cdi-operator:v{{ .Chart.AppVersion }}
        imagePullPolicy: IfNotPresent
        env:
        - name: DEPLOY_CLUSTER_RESOURCES
          value: "true"
        - name: OPERATOR_VERSION
          value: v{{ .Chart.AppVersion }}
        - name: CONTROLLER_IMAGE
          value: quay.io/kubevirt/cdi-controller:v{{ .Chart.AppVersion }}
        - name: IMPORTER_IMAGE
          value: quay.io/kubevirt/cdi-importer:v{{ .Chart.AppVersion }}
        - name: CLONER_IMAGE
          value: quay.io/kubevirt/cdi-cloner:v{{ .Chart.AppVersion }}
        - name: OVIRT_POPULATOR_IMAGE
          value: quay.io/kubevirt/cdi-importer:v{{ .Chart.AppVersion }}
        - name: APISERVER_IMAGE
          value: quay.io/kubevirt/cdi-apiserver:v{{ .Chart.AppVersion }}
        - name: UPLOAD_SERVER_IMAGE
          value: quay.io/kubevirt/cdi-uploadserver:v{{ .Chart.AppVersion }}
        - name: UPLOAD_PROXY_IMAGE
          value: quay.io/kubevirt/cdi-uploadproxy:v{{ .Chart.AppVersion }}
        - name: VERBOSITY
          value: "1"
        - name: PULL_POLICY
          value: IfNotPresent
        - name: MONITORING_NAMESPACE
        ports:
        - containerPort: 8443
          name: metrics
          protocol: TCP
        - containerPort: 8444
          name: health
          protocol: TCP          
        {{- with .Values.resources }}          
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8444
            scheme: HTTP
          initialDelaySeconds: 5
          timeoutSeconds: 10   
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8444
            scheme: HTTP
          initialDelaySeconds: 5
          timeoutSeconds: 10               
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          runAsNonRoot: true
          seccompProfile:
            type: RuntimeDefault
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File            
      securityContext:
        runAsNonRoot: true
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 6 }}
      {{- end }}        